.skywhite-color {
    background-color: #46a4e3;
}

.orange-color {
    background-color: #db8d0d;
}

.black–color {
    background-color: #000000;
}

.green-color {
    background-color: #149260;
}

.yellow-color {
    background-color: #ecdf38;
}

.blue-color {
    background-color: #0c5e9f;
}

.orange-red-color {
    background-color: #c5480c;
}

.pink-color {
    background-color: #c05f99;
}

.red-color {
    background-color: #FF4646;
}

.green-bus-color {
    background-color: #22C153;
    color: white;
}

.red-bus-color {
    background-color: #FC281B;
    color: white;
}

.blue-bus-color {
    background-color: #1C6DE4;
    color: white;
}

.green-bus-color {
    background-color: #22C153;
}

.yellow-bus-color {
    background-color: #FEDD3E;
}

.dark-red-bus-color {
    background-color: #6C180B;
    color: white;
}

.salgu-bus-color {
    background-color: #F49485;
    color: white;
}

.yellowgreen-bus-color {
    background-color: #B5D453;
    color: white;
}

.pink-bus-color {
    background-color: #df40fc;
    color: white;
}
