#map {
    height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#root > div > div.main-view > div > div:nth-child(1) > div > div > div > div:nth-child(1) > div:nth-child(1) > div:nth-child(5) {
    filter: grayscale(100%);
}

#root > div > div.main-view > div > div:nth-child(1) > div > div > div > div:nth-child(11) {
    opacity: 0;
}

#root > div > div.main-view > div > div:nth-child(1) > div > div > div > button {
    opacity: 0;
}

@media (max-width: 760px) {
    .background {
        background-color: #ffffff;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .side-bar {
        background-color: #DDE6A4;
        width: auto;
        display: flex;
        flex-direction: column;
    }

    .main-view {
        width: 92%;
    }

    .search-bus-station-id {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        margin-left: 10px;
        margin-right: 10px;
        height: 44px;
    }

    #station-id-input {
        flex-grow: 3;
        border-radius: 15px 0 0 15px;
        border-color: transparent;
        text-align: center;
    }

    #station-id-button {
        flex-grow: 1;
        border-radius: 0px 15px 15px 0px;
        border-color: transparent;
    }

    #station-id-button:hover {
        background-color: yellow;
    }

    .station-list {
        background-color: #dde6a4;
        margin-bottom: 15px;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 15px;
        /*height: 100%;*/
        border-radius: 15px 15px 15px 15px;
        display: flex;
        overflow-x: scroll;
    }

    .panel-container {
        /*   width: 350px; */
        display: flex;
        background-color: #FCFCFC;
        border-radius: 12px 12px 12px 12px;
        margin-top: 7px;
        min-width: 318px;
        margin-right: 17px;
    }

    .badge-space {
        margin-bottom: 4px;
    }

    .container-name {
        margin: 6px 10px 5px 16px;;
    }
}

@media (min-width: 761px) {
    .background {
        background-color: #ffffff;
        width: 100%;
        display: flex;
    }

    .side-bar {
        background-color: #DDE6A4;
        width: 400px;
        height: 100%;
        overflow-y: scroll;
    }

    .main-view {
        width: 92%;
    }

    .search-bus-station-id {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        margin-left: 10px;
        margin-right: 10px;
        height: 44px;
    }

    #station-id-input {
        flex-grow: 3;
        border-radius: 15px 0 0 15px;
        border-color: transparent;
        text-align: center;
    }

    #station-id-button {
        flex-grow: 1;
        border-radius: 0px 15px 15px 0px;
        border-color: transparent;
    }

    #station-id-button:hover {
        background-color: yellow;
    }

    .station-list {
        background-color: #dde6a4;
        margin-bottom: 30px;
        margin-top: 21px;
        margin-left: 10px;
        margin-right: 15px;
        /*height: 100%;*/
        border-radius: 15px 15px 15px 15px;
    }

    .panel-container {
        /*   width: 350px; */
        display: flex;
        background-color: #FCFCFC;
        border-radius: 12px 12px 12px 12px;
        margin-top: 7px;
    }

    .badge-space {
        margin-bottom: 17px;
    }

    .container-name {
        margin: 12px 10px 12px 16px;
    }
}


/*  -------------------------------------------------------------------------- */

.line-skywhite {
    width: 17px;
    background-color: #46a4e3;
    border-radius: 12px 0px 0px 12px;
}

.line-orange {
    width: 17px;
    background-color: #db8d0d;
    border-radius: 12px 0px 0px 12px;
}

.line-black {
    width: 17px;
    background-color: #000000;
    border-radius: 12px 0px 0px 12px;
}

.line-green {
    width: 17px;
    background-color: #149260;
    border-radius: 12px 0px 0px 12px;
}

.line-yellow {
    width: 17px;
    background-color: #ecdf38;
    border-radius: 12px 0px 0px 12px;
}

.line-blue {
    width: 17px;
    background-color: #0c5e9f;
    border-radius: 12px 0px 0px 12px;
}

.line-orange-red {
    width: 17px;
    background-color: #c5480c;
    border-radius: 12px 0px 0px 12px;
}

.line-pink {
    width: 17px;
    background-color: #c05f99;
    border-radius: 12px 0px 0px 12px;
}

.container-name h1 {
    display: inline;
}

.badge-item {
    display: inline;
    /*   border: 1px solid; */
    text-align: justify;
    font-size: 24px;
    vertical-align: center;
}

.first > .badge-item {
    flex: 1;
}

.greenbus-badge {
    display: inline;
    background-color: #aed581;
    margin-top: 10px;
    margin-right: 4px;
    font-size: 20px;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    padding: 3px 1px 2px 1px;
    padding-left: 5px;
    padding-right: 1px;
    text-align: justify;
    font-weight: 340;
}

.container-bus-number {
    padding-top: 2px;
    font-size: 27px;
    vertical-align: middle;
    font-weight: 100;
    margin-right: 15px;
    /*   line-height: 12px; */
    font-family: "Nanum Gothic", sans-serif;
}

.id-badge {
    display: inline;
    font-size: 20px;
    position: relative;
    right: 5px;
    left: 10px;
}

.right-buffer {
    margin-right: 20px;
}

.container-id {
    display: inline;
    background-color: #aed581;
    font-size: 20px;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    padding: 3px 1px 2px 1px;
    padding-left: 5px;
    padding-right: 7px;
    text-align: justify;
    font-weight: 340;
}

.first {
    display: flex;
}